{%extends 'base.html'%}{%load static%}{%block title%}Courses{%endblock title %}
{% block head %}
<style>
  .colored {
    color: #9c6af9;
  }
  .heading {
    font-family: "Aileron", sans-serif;
    /* margin-left: 100px; */
    margin-top: 20px;
    font-weight: bold;
  }
  .duration-price {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
  }

  .btn-elegant {
    background-color: #9c6af9;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-elegant:hover {
    background-color: white;
    color: #9c6af9;
    border: 2px solid #9c6af9;
  }
  .card {
    border-radius: 10px !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .card:hover {
    transform: translateY(-5px) scale(1.03); /* Scale the card slightly */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .card-body-heading {
    max-height: 4.5em; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  @media (max-width: 768px) {
  }
</style>
{% endblock head %} {% block body %}

<div class="container my-4">
  <h2 class="heading">
    Here's a list of the <span class="colored">available courses</span>
  </h2>
  <div class="row">
    {% for course in course %}
    <div class="col-lg-3 col-md-4 col-sm-6">
      <!-- Adjust column classes as needed for optimal number of cards per row -->
      <div class="card my-4 shadow-lg p-3 bg-white rounded">
        <img
          src="{{ course.thumbnail_url }}"
          class="card-img-top"
          alt="Course Thumbnail"
          height="150"
        />
        <div class="card-body-heading">
          <h5 class="card-title mt-2">{{ course.title }}</h5>
        </div>

        <div class="duration-price">
          <div class="duration">
            <img src="https://img.icons8.com/android/20/000000/time.png" />
            {{ course.course_length }}
          </div>
          <div class="price">
            <img
              src="https://img.icons8.com/metro/20/000000/price-tag-euro.png"
            />
            {% if course.course_type == "PAID" %} ₹ {{ course.course_price }} /-
            {% else %} {{ course.course_type }} {% endif %}
          </div>
        </div>
        <div class="card-body-button mt-4">
          <center>
            <a
              href="{% url 'course_detail' course.course_slug %}"
              class="btn btn-elegant"
              >View Course Details</a
            >
          </center>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
